.hero-headers{
    margin: 4em;
}
.hero-headers h2{
    margin-bottom: 1em;
}

/* image carousel styles */
.container{
    max-width: 1290px;
    padding: 1rem;
}
.slider-wrapper{
position: relative;
/* max-width: 48rem; */
margin: 0 auto;
}
.slider{
    display: flex;
    padding: 0.5rem;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
   
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    width: 75vw;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%) ;
    z-index: 1;
}
.slider-text{
    margin: 1rem;
    max-width: 750px;
}
.slider-text h5{
    margin-bottom: 1.75rem;
}
.slider-nav a{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color:#16284d;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
     opacity: 1;
     background-color: #EDD767;
}
.slider-nav a:active{
    background-color: #EDD767;
}
.quote-section{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    padding: 2em;
}
.impact-section{
    display: flex;
    flex-flow: row nowrap;
    gap: 2em;
    padding: 2em;
    justify-content: space-around;
    align-items: center;
}
.impact-section p{
    flex-basis: 55%;
}
.legacy-section{
display: flex;
flex-flow: column wrap;
gap: 2em;
padding: 2em;
}