/* section styles for home page */
img{
    width: 40%;
}
.quotation{
    display: flex;
    flex-flow: row nowrap;
    padding: 2em;
}
.quotation > div{
    margin: 2em;
}
.cta-section{
    background-color: #EDD767;
    padding: 1em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    height: 120px;
}
.cta-section form{
    font-family: 'Commissioner', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
   text-decoration: none;
}
.cta-section form > input{
    background-color: white;
    padding: 5px 10px;
    border: solid #1F3D7A 2px;
}

.featured-films{
    display: flex;
    flex-flow: column wrap;
    padding: 1em;
}
.feat-film-card-1{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin: 1em;
    background-color: aquamarine;
}
.feat-film-card-1 > div{
    margin: 1.75em;
}
.feat-film-card-2{
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: flex-start;
    margin: 1em;
    background-color: aquamarine;
}
.feat-film-card-2 > div{
    margin: 1.75em;
    padding: 0em 1em;
}